.gradient-custom {
    /* fallback for old browsers */
    background: 47, 47, 66;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(47, 47, 66), rgb(47, 47, 66));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(47, 47, 66, 1), rgba(47, 47, 66, 1))
    }
    .text-muted{
        color:white;
    }
 